---
layout: base
title: Tags
description: Browse all content tags
permalink: /tags/
eleventyNavigation:
  key: Tags
  order: 4
---

<ul>
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>